gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Remember to never publicly share your keystore.
# See https://flutter.dev/docs/deployment/android#reference-tqq he-keystore-from-the-app
key.properties
app/upload-keystore.jks
**/*.keystore
**/*.jks
